<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          {{ if .Site.Data.social }}
          <ul class="social">
              {{ range .Site.Data.social }}
                  <li><a href="{{ .link }}" target="blank"><img class="linkedin" width="20" height="20" src="{{ .image | relURL }}" title="{{ .name }}" alt="{{ .name }}" /></a></li>
              {{ end }}
          </ul>
          {{ end }}
          <ul>
            {{ if .Site.Data.contact.phone }}
            <li><strong>Phone: </strong>{{ .Site.Data.contact.phone }}</li>
            {{ end }}
            {{ if .Site.Data.contact.email }}
            <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
                {{ .Site.Data.contact.email }}</a></li>
              {{ end }}
          </ul>
          <ul>
            <li class="zerostatic"><a href="https://ceresia.vision">www.ceresia.vision</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>